{% extends 'goals/base.html' %}

{% block content %}
<div class="container">
    <h2>Add Step to {{ goal.title }}</h2>
    <form method="post" id="submit_step">
      {% csrf_token %}

  
      {% load widget_tweaks %}
      <div class="form-group {% if field.errors %}alert alert-danger{% endif %}">
        <div>Title: {{ form.title }}</div>
        <div>Progress: {{ form.progress }}</div>
        <div>Done: {{ form.done }}</div>
        <div>Deadline: {{ form.deadline|attr:"type:datetime-local" }}</div>
        <!-- {{ form.as_p }} -->
        {{ form.deadline }}

     
      </div>
      

    
      <button type="submit" class="btn btn-primary">Add</button>
    </form>


{% endblock %}